html{
    overflow-x: hidden;
}

.headSortBox{
    display: flex;
    justify-content: center;
}

.ImageHead{
    float: right;
    justify-content: center;
    width: 50%;
}

.ImageHead img{
    width: 20rem;
    margin: 3% 0 0 7%;
    overflow: hidden;
}

.headingArticle{
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
}

.headingArticle h2{
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: bold;
}

.headingArticle p{
    font-family: Merriweather;
    margin: 20px 0 20%;
}

.headingArticle a{
    align-items: right;
    border: 10px solid #273043;
    border-radius: 3rem;
    background-color:#273043;
    font-size: 1rem;
    margin-left: 50%;
    color: white;
    cursor: pointer;
    text-decoration: none;
}